<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command patch:instead="*[@type='Sitecore.Form.Core.FormDesigner.ExportToAscx,Sitecore.Forms.Core']" name="forms:exporttoascx" type ="Sitecore.Support.Form.Core.FormDesigner.ExportToAscx,Sitecore.Support.99307"/>
    </commands>
  </sitecore>
</configuration>